<div class="p-3 pl-0 bg-success w-25">
  <%#= cl_image_tag @pet.picture.key,
      width: 150, height: 150, crop: :thumb, gravity: :face %>
  <div class="bg-pet-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @pet.picture.key, height: 200, crop: :thumb, gravity: :face %>')">
  </div>
  <h2>
    <%= @pet.name %></h2>
  <p>Description:</p>
  <p class="text-justify"><%= @pet.description %></p>
  <p>Location:</p>
  <p><%= @pet.location %></p>
  <p>owned by:  <%= @pet.user.first_name %>
    <%= @pet.user.last_name %>
    <br>
    <%= link_to "Create offer for pet", new_pet_offer_path(@pet), class: "btn btn-primary mt-4" if current_user == @pet.user%>
  </p>
  <p><%= link_to 'delete', pet_path(@pet), method: :delete %></p>
</div>
