<div class="m-auto w-100 p-1 bg-info rounded">
  <p>Request by: <%= request.user.first_name %> <%= request.user.last_name %></p>
  <p>Message: <%= request.message %></p>
  <p>Status: <%= request.status %></p>
  <div class="">
    <% if request.user == current_user %>
    <% else %>
      <%= link_to 'accept', offer_request_path(request.offer, request), class: "btn btn-primary", method: :patch if request.status == "open"%>
    <% end %>
  </div>
</div>
