<div class="container">
  <h1>Add new Pet to profile</h1>
  <%= simple_form_for @pet do |f| %>
    <%= f.input :name %>
    <%= f.input :species %>
    <%= f.input :description %>
    <%= f.input :location %>
    <%= f.input :picture %>
    <%= f.button :submit, class: "btn btn-primary" %>
  <% end %>
  <%= link_to "Dashboard", dashboard_path %>
</div>